<div class="paleta-secundario container-fluid h-100 w-100 flex-column  align-content-start p-5 justify-content-center">

    <form class="paleta-terciario shadow-lg w-75 h-auto rounded center  p-4 ms-5 align-self-lg-center"
        [formGroup]="loginForm">
        <div class="mb-3 ">
          <label for="exampleInputEmail1" class="form-label texto-cinco  fw-bold">Email address</label>
          <input formControlName="email" 
                 type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div
          *ngIf="email!.invalid && (email!.dirty || email!.touched)"
          class="mt-2 text-bg-danger ps-2 rounded"
          >
            <div *ngIf="email!.errors?.['required']">
              El email es requerido.
            </div>
            <div *ngIf="email!.errors?.['email']">
              No tiene formato de email.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label texto-cinco fw-bold">Password</label>
          <input formControlName="password" 
                 type="password" class="form-control" id="exampleInputPassword1">
          <div
          *ngIf="password!.invalid && (password!.dirty || password!.touched)"
          class="mt-2 text-bg-danger ps-2 rounded"
          >
            <div *ngIf="password!.errors?.['required']">
              El email es requerido.
            </div>
            <div *ngIf="password!.errors?.['minlength']">
              Minimo 6 caracteres
            </div>
          </div>
        </div>
        <button type="submit" 
                (click)="login()"
                class="btn  paleta-teciario paleta-cuaternario texto-cinco fw-bold">Iniciar Sesión</button>
    </form>

</div>
