/* You can add global styles to this file, and also import other style files */
:root{
    background-color: #2E3944;
}
body {
    /* height: 100vh; */
    background-color: #2E3944;
}

.paleta-primario{
    background-color: #212A31 !important;
   
}
.paleta-secundario{
    background-color: #2E3944 !important;
   
}
.paleta-terciario{
    background-color: #124E66 !important;
   
}
.paleta-cuaternario{
    background-color: #748D92 !important;
   
}
.paleta-quintenario{
    background-color: #D3D9D4 !important;
   
}

.texto-secundario{
    color: #384553 !important;
    /* color: #2E3944 !important; */
}
.texto-terciario{
    color: #124E66 !important;
}
.texto-cuatro{
    color: #748D92 !important;
}
.texto-cinco{
    color: #D3D9D4 !important;
}
/* * NAVEGACION */
.text-navegacion:hover{
    color:#d6d6d6;
    /* font-weight: 600; */
}
.salir:hover{
    color: red;
}

/* * FORMULARIOS */
.ng-valid:not(form).ng-touched {
    border-left: 6px solid #28a745;
}
.ng-invalid:not(form).ng-touched {
    border-left: 6px solid #dc3545;
}

/* * CARDS */
.card-plan {
    /* Estilo base */
    width: 100%;
    max-width: 100%;
  
    margin-bottom: 1rem;
  }
  
  
  @media (min-width: 768px) { /* md */
    .card-plan {
      width: 10rem; 
    }
  }
  
  @media (min-width: 1024px) { /* lg */
    .card-plan {
      width: 25rem;
    }
  }
  
  @media (min-width: 1280px) { /* xl */
    .card-plan {
      width: 20rem; 
    }
  }